.st0{fill:#CECECE;}
.st1{fill:#BABABA;}
.st2{fill:#939393;stroke:#000000;stroke-width:0.5;stroke-linejoin:round;stroke-miterlimit:10;}
.st3{fill:#848484;}
.st4{fill:#939393;}
.st5{fill:#494949;}
.st6{fill:#878787;}
.st7{fill:#666666;}
