.label {
  font-family: 'Helvetica Neue';
  font-weight: 400;
  display: inline-block;
  background: #555;
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-shadow: #222 2px 1px;
  padding: 0.625rem;
}
