// Typography resets
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

body {
  font: {
    family: "Helvetica Neue", sans-serif;
    size: 100%;
    weight: 400;
  }

  color: #222;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  line-height: 1.5;
}
